{
  "cwd": "./",
  "extension": [".js", ".ts", ".vue"],
  "include": [
    "frontend/www/js/**/*.js",
    "frontend/www/js/**/*.ts",
    "frontend/www/js/omegaup/components/**/*.vue"
  ],
  "exclude": [
    "frontend/www/js/**/*.test.ts",
    "frontend/www/js/omegaup/lang*.ts",
    "frontend/www/js/omegaup/test.setup.js",
    "frontend/www/third_party/**"
  ],
  "sourceMap": true,
  "instrument": false,
  "temp-dir": "./.nyc_output",
  "report-dir": "./coverage",
  "reporter": ["lcov", "json", "text-summary"],
  "all": true,
  "map-path": [
    ["/opt/omegaup/", "./"]
  ]
}